/*Color Scheme:
	Fresh(Tanish Color): #F7FSE6
	Vermillion(Dark Blue): #333A56
	Sunshine(Lighter Blue): #52658F
	Clean(Grey/Gray): #E8E8E8
	Eggshell(White): #F0EAD6 or #FSF5F5
	#46 from https://designschool.canva.com/blog/website-color-schemes/
*/
html{
	width: 100%;
	margin: 0;
}

body{
	background-color: #FSF5F5;
}

/*Menubar*/
#menubar{
	background-color: #333A56;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.dropbtn {
	background-color: #333A56;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#homebtn:hover {
	color: #AFAAAA;
}

.dropdown {
    position: relative;
    display: inline-block;
	/*left: 20%;*/
}

#menudrop {
	left: 20%;
}

#searchbar {
	left: 20%;
}

#profiledrop {
	left: 60%;
}

#maildrop {
	left: 60%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
	    /*background-color: #AFAAAA;*/
		color: #AFAAAA;
}
/*End Menubar*/

#login {
	background-color: #f9f9f9;
	max-width: 20%;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 2px 10px 2px #888888;	
	margin-left: 50%;
	transform: translate(-50%, 0);
	margin-top: 5%;
}

#login input, h3{
	margin-bottom: 10px;
	margin-left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
}

#infoscreen {
	margin-top: 50px;
}

/*Posts*/
#posts {
	margin-top: 20px;
	width: 50%;
	background: #F7FSE6;
	color: black;
	border: 1px solid black;
	padding: 0px 10px 10px;
	margin-top: 15px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
}

#newpost {
	margin-top: 50px;
	width: 50%;
	background: #F7FSE6;
	color: black;
	border: 1px solid black;
	padding: 0px 10px 10px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
}

.textwrapper {
	padding: 0px 5px 0px 0px;
}

textarea {
	width: 100%;
}
/*End Posts*/

/*Mail Screen*/
#mailmenu {
	margin-top: 50px;
	border: 1px solid black;
	/*border-radius: 10px;*/
	max-width: 20%;
	background-color: #f9f9f9;
	box-shadow: 0 2px 10px 2px #888888;
	text-align: center;
}

#mails {
	margin-left: 2px;
	margin-right: 2px;
	padding: 10px;
	background-color: #FSF5F5;
	/*border-top: 1px solid black;
	border-bottom: 1px solid black;*/
}

#mails:hover {
	background-color: #FFFFFF;
}

#composebtn {
	margin-top: 10px;
	margin-bottom: 10px;
}

#readmailplace {
	border: 1px solid black;
	margin-top: 50px;
	padding: 5px;
	width: 60%;
}

#composemailplace {
	border: 1px solid black;
	margin-top: 50px;
	padding: 5px;
	width: 60%;
}

#sendnoteplace {
	border: 1px solid black;
	margin-top: 50px;
	padding: 5px;
	width: 60%;
}

#mailValue {
	margin-top: 5px;
}
/*End Mail Screen*/